@import "tailwindcss";
@source "../views";

@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif-Italic.eot');
    src: url('../fonts/InstrumentSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/InstrumentSerif-Italic.woff2') format('woff2'),
        url('../fonts/InstrumentSerif-Italic.woff') format('woff'),
        url('../fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@theme {
    --spacing: 0.0625rem;
    --card-rotate: perspective(1200px) rotateX(6deg);
    --font-instrument: "Instrument serif", var(--font-serif);
}

:root {
    --checkmark: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1.5 5.917 5.724 10.5 14.5 1.5'/%3E%3C/svg%3E");
    --bounce: linear(0 0%, 0.011062 1%, 0.043085 2%, 0.094069 3%, 0.161722 4%, 0.243531 5%, 0.336827 6%, 0.438855 7.000000000000001%, 0.546841 8%, 0.658052 9%, 0.769853 10%, 0.879762 11%, 0.985488 12%, 1.084977 13%, 1.176439 14.000000000000002%, 1.258368 15%, 1.329562 16%, 1.389129 17%, 1.436486 18%, 1.471351 19%, 1.493738 20%, 1.50393 21%, 1.502458 22%, 1.49008 23%, 1.467741 24%, 1.436549 25%, 1.397735 26%, 1.35262 27%, 1.302584 28.000000000000004%, 1.249027 28.999999999999996%, 1.193339 30%, 1.136871 31%, 1.080908 32%, 1.026643 33%, 0.975159 34%, 0.927411 35%, 0.884212 36%, 0.846225 37%, 0.81396 38%, 0.787767 39%, 0.767843 40%, 0.754237 41%, 0.746853 42%, 0.745469 43%, 0.749742 44%, 0.759228 45%, 0.773396 46%, 0.791646 47%, 0.813326 48%, 0.837747 49%, 0.864207 50%, 0.891998 51%, 0.92043 52%, 0.948842 53%, 0.976612 54%, 1.003172 55.00000000000001%, 1.028017 56.00000000000001%, 1.050707 56.99999999999999%, 1.070882 57.99999999999999%, 1.088253 59%, 1.102617 60%, 1.113843 61%, 1.121881 62%, 1.126754 63%, 1.128549 64%, 1.12742 65%, 1.123571 66%, 1.117256 67%, 1.108766 68%, 1.098421 69%, 1.086564 70%, 1.073546 71%, 1.059726 72%, 1.045455 73%, 1.031074 74%, 1.016904 75%, 1.003243 76%, 0.990358 77%, 0.978482 78%, 0.967814 79%, 0.958512 80%, 0.950694 81%, 0.944441 82%, 0.939791 83%, 0.936747 84%, 0.935277 85%, 0.935315 86%, 0.936766 87%, 0.939511 88%, 0.943411 89%, 0.948307 90%, 0.954031 91%, 0.960407 92%, 0.967254 93%, 0.974393 94%, 0.98165 95%, 0.988859 96%, 0.995865 97%, 1.002527 98%, 1.008721 99%, 1.01434 100%);
}
